.shop-image img {
    width: 120px;
    padding: 0;
    
}
.shop-image {
    width: 100px;
    height: 100px;
    overflow: hidden;
    margin: 0rem 1rem 0rem 1rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.product-image {
    height: 150px;
    width: 250px;
    overflow: hidden;
    display: flex;
    justify-content: center;
}
.product-image img {
    width: 100%;
    align-self: center;
}
.expandable {
    cursor: pointer;
}
.products-container {
    max-height: 600px;
    overflow: scroll !important;
    overflow-x: hidden !important;
    border-radius: 0px 0px 8px 8px;
}
.product {
    background-color: #FFF;
    min-width: 100px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    justify-content: center;
    display: flex;
    flex-direction: column;
}
.product-row {
    display: grid;
    grid-template-columns: auto auto auto auto;
}
@media (max-width: 1500px) {
    .product-row {
        grid-template-columns: auto auto auto;
    }
}
@media (max-width: 1200px) {
    .product-row {
        grid-template-columns: auto auto;
    }
    .products-container {
        width: 100%;
    }
}

@media (max-width: 768px) {
    .product-image {
        height: 120px;
        width: 200px;
    }
}

@media (max-width: 700px) {
    .container {
        padding-top: 10px;
    }
    .shop-image {
        width: 80px;
        height: 80px;
    }
    .shopproduct-container, .products-container {
        max-width: 400px;
    }
    .product-image {
        height: 90px;
        width: 150px;
    }
    .product h1 {
        font-size: 1rem;
    }
    
}

@media (max-width: 576px) {
    .shop-image {
        width: 60px;
        height: 60px;
    }
    .shopproduct-container {
        max-width: 300px;
    }
    .text-1 {
        font-size: 12px !important;
    }
    .text-2 {
        font-size: 10px !important;
    }
    .product-image {
        height: 60px;
        width: 100px;
    }
    .products-container {
        max-width: 300px;
    }
    .action-btn {
        font-size: 12px;
    }
}
@media (max-width: 400px) {
    .shop-image {
        width: 40px;
        height: 40px;
    }
    .shopproduct-container {
        max-width: 200px;
    }
    h2 {
        font-size: 16px;
    }
    .product-image {
        height: 30px;
        width: 50px;
    }
    .product h1 {
        font-size: 0.5rem;
    }
    .action-btn {
        font-size: 8px;
    }
    .products-container {
        max-width: 300px !important;
    }
    .product {
        min-width: 60px;
    }
    .edit, .delete {
        padding: 4px;
    }
}