:root {
    --green: green;
    --white: #fff;
    --black: #000000;
    --light-color: #666;
    --box-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, .2);
    --border: 2rem solid rgba(0, 0, 0, .1);
    --outline: .1rem solid rgba(0, 0, 0, .1);
    --outline-hover: .2rem solid var(var(--black));
    --footer-shadow: 0 -.5rem 2rem rgba(0, 0, 0, .2);
}

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: all .2s linear;
}

html {
    font-size: 62%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 7rem;
}

body {
    background: #eee;
}

section {
    padding: 2rem 9%;
}

.heading {
    text-align: center;
    padding: 2rem 0;
    padding-bottom: 3rem;
    font-size: 3.5rem;
    color: darkgreen;
}

.heading span {
    background: var(--green);
    color: #fff;
    display: inline-block;
    padding: .5rem 3rem;
    clip-path: polygon(100% 0, 93% 50%, 100% 99%, 0% 100%, 7% 50%, 0% 0%);
}

.btn {
    margin-top: 1rem;
    display: inline-block;
    padding: .8rem 3rem;
    font-size: 2rem;
    border-radius: 2rem;
    border: .2rem solid var(--green);
    box-shadow: #000;
    color: var(--green);
    cursor: pointer;
}

.btn-join-now {
    margin-top: 1rem;
    display: inline-block;
    padding: .8rem 3rem;
    font-size: 1.7rem;
    border-radius: 2rem;
    border: .3rem solid green;
    color: var(--white);
    cursor: pointer;
    width: auto;
    background: green;
}

.btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 3rem;
}

.register {
    font-family: 'Montserrat', sans-serif;
    background-color: white;
    color: green;
    font-weight: 400;
    width: 200px;
    box-shadow: var(--box-shadow);
}

.login {
    font-family: 'Montserrat', sans-serif;
    background-color: green;
    color: white;
    font-weight: 400;
    width: 200px;
    box-shadow: var(--box-shadow);
}

.btn:hover {
    background: darkgreen;
    color: white;
}

.active-tab {
    color: green !important;
    font-weight: 600;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 9%;
    background: none;
    box-shadow: none;
}

.header .logo {
    height: 41.6px;
    width: 173.6px;
}

.header .navbar #navtxt {
    font-size: 1.7rem;
    margin: 0 1rem;
    color: var(--black);
}

.header .navbar #navtxt:hover {
    color: green;
}

.color-text {
    color: #FFF !important;
}

.color-text:hover {
    color: yellowgreen !important;
}

.header .icons div {
    height: 4.5rem;
    width: 4.5rem;
    line-height: 4.5rem;
    border-radius: 1rem;
    background: #eee;
    color: var(--black);
    font-size: 2rem;
    margin-right: .3rem;
    cursor: pointer;
    text-align: center;
}

.header .icons .logoutbtn {
    height: 4.5rem;
    width: 4.5rem;
    line-height: 4.5rem;
    border-radius: 1rem;
    background: rgba(201, 0, 0, 0.6);
    color: var(--white);
    font-size: 2rem;
    margin-right: .3rem;
    cursor: pointer;
    text-align: center;

}

.header .icons div:hover {
    background-color: var(--green);
    color: #fff;
}

.header .icons .logoutbtn:hover {
    background: rgb(201, 0, 0);
    color: #fff;
}

.header.active {
    background-color: white;
    box-shadow: var(--box-shadow);
    transition: .1.5s linear;
}

.color-header {
    background-color: darkgreen;
    box-shadow: var(--box-shadow);
    transition: .1.5s linear;
}

#menu-btn {
    display: none;
}

.search-bar {
    position: fixed;
    top: -50%;
    display: flex;
    width: 100%;
    justify-content: center;
    z-index: 50;
}

.search-form {
    top: 100%;
    width: 60%;
    height: 4.5rem;
    background: #fff;
    border-radius: .5rem;
    overflow: hidden;
    display: flex;
    align-items: center;
    box-shadow: var(--box-shadow);
}

.search-bar.active {
    top: 10%;
    transition: .3s linear;
}

.search-form input {
    height: 100%;
    width: 100%;
    background: none;
    text-transform: none;
    font-size: 1.6rem;
    color: var(--black);
    padding: 0 1.5rem;
}

.search-form label {
    font-size: 2.2rem;
    padding-right: 1.5rem;
    color: var(--black);
    cursor: pointer;
}

.search-form label:hover {
    color: var(--green);
}

.header .shopping-cart {
    position: absolute;
    top: 110%;
    right: -110%;
    padding: 1rem;
    border-radius: .5rem;
    box-shadow: var(--box-shadow);
    width: 35rem;
    background: #fff;
}

.header .shopping-cart.active {
    right: 2rem;
    transition: .4s linear;
}

.header .shopping-cart .box {
    display: flex;
    align-items: center;
    gap: 1rem;
    position: relative;
    margin: 1rem 0;
}

.header .shopping-cart .box img {
    height: 10rem;
}

.header .shopping-cart .box .fa-trash {
    font-size: 2rem;
    position: absolute;
    top: 50%;
    right: 2rem;
    cursor: pointer;
    color: var(--light-color);
    transform: translateY(-50%);
}

.header .shopping-cart .box .fa-trash:hover {
    color: var(--green);
}

.header .shopping-cart .box .content h3 {
    color: var(--black);
    font-size: 1.7rem;
    padding-bottom: 1rem;
}

.header .shopping-cart .box .content span {
    color: var(--light-color);
    font-size: 1.6rem;
}

.header .shopping-cart .box .content .quantity {
    padding-left: 1rem;
}

.header .shopping-cart .total {
    font-size: 2.5rem;
    padding: 1rem 0;
    text-align: center;
    color: var(--black);
}

.header .shopping-cart .btn {
    display: block;
    text-align: center;
    margin: 1rem;
}

.user-window {
    position: fixed;
    top: -50%;
    right: 3rem;
    width: 30rem;
    box-shadow: var(--box-shadow);
    border-radius: .5rem;
    background: #fff;
    text-align: center;
    z-index: 90;
}

.user-window.active {
    top: 10%;
    transition: .2s linear;
    color: var(--white);
}

.user-window a {
    font-size: 2rem;
    padding: 1.5rem 2rem;
    display: flex;
    color: var(--black);
}

.user-window a:hover {
    background-color: darkgreen;
    color: var(--white);
    transition: .2s linear;
}

.home {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-position: center;
    background-size: cover; 
    padding-top: 10rem;
    padding-bottom: 10rem;
    height: 65vh;
}

.home::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.home .content {
    text-align: center;
    width: 60rem;
    position: relative;
    z-index: 1;
}

.home .content h2 {
    color: yellowgreen;
    font-size: 6rem;
}

.home .content h2 span {
    color: darkgreen;
}

.home .content p {
    color: black;
    font-size: 2.5rem;
    padding: 1rem 0;
    line-height: 1.8;
}

.home .content h3 {
    font-size: 4rem;
    font-weight: 800;
    font-family: 'Montserrat', sans-serif;
    color: black;
}

.join-now {
    background-color: white;
}

.join-now .container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 4rem 2rem;
}

.join-now .container img {
    width: 35%;
    height: 35%;
}

.join-now .container-col {
    display: flex;
    flex-direction: column;
    text-align: right;
    align-items: end;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 2rem 0;
    width: 60%;
}

.join-now .content {
    font-size: large;
    font-family: 'Montserrat', sans-serif;
}

.shop .container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 4rem 2rem;
}

.shop .container img {
    width: 35%;
    height: 35%;
}

.shop .container-col {
    display: flex;
    flex-direction: column;
    text-align: left;
    align-items: start;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 2rem 0;
    width: 60%;
}

.shop .content {
    font-size: large;
    font-family: 'Montserrat', sans-serif;
}

.features {
    background-color: white;
}

.features .box-container {
    display: flex;
    column-gap: 6rem;
}

.features .box-container .box {
    padding: 4rem 2rem;
    background: #fff;
    text-align: center;
    width: 80%;
}

.features .box-container .box img {
    margin: 1rem 0;
    height: 15rem;
}

.features .box-container .box h3 {
    font-size: 2.5rem;
    color: var(--black);
}

.features .box-container .box p {
    font-size: 1.5rem;
    color: var(--light-color);
    padding: 1rem 0;
}

.gallery {
    text-align: center;
    padding: 50px 0;
}

.college-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.college {
    margin: 20px;
    flex: 0 0 calc(33.333% - 40px);
}

.college img {
    width: 400px;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
    transition: transform 0.3s ease;
}

.college img:hover {
    transform: scale(1.1);
}

.college h3 {
    margin-top: 10px;
    font-size: 18px;
}

.active-color {
    color: yellowgreen !important;
}

.footer {
    background-color: #101010;
    color: white;
    padding: 60px 0px 0px 0px;
    font-size: 14px;
    position: relative;
    text-align: center;
    box-shadow: var(--footer-shadow);
}

.footer-container {
    display: flex;
    flex-wrap: wrap;
    max-width: 1000px;
    margin: 0 auto;
    text-decoration: none;
    justify-content: space-between;
    padding: 0rem 0rem 5rem 0rem;
}

.footer-section {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: left;
}

.footer-section div a,
.footer-section div p {
    color: #eee;
    text-decoration: none;
    padding: 0rem 1.5rem 0rem 1.5rem;
}

.footer-section img {
    height: 25.8px;
    width: 106.8px;
    margin-right: 2rem;
}

.social-login {
    display: flex;
    gap: 20px;
    align-items: end;
}

.social-login i {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    width: 30px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transition: .2s;
}

.social-login i:hover {
    transform: scale(0.8);
}

.static {
    padding-left: 1rem;
}
a.cart-icon {
    font-size: 1.75rem;
    position: relative;
    border-radius: 50%;
    top: -40%;
    left: -20%;
}

@media (max-width: 991px) {
    html {
        font-size: 55%;
    }

    .header {
        padding: 2rem;
    }

    section {
        padding: 2rem;
    }
}

@media (max-width: 768px) {
    #menu-btn {
        display: inline-block;
    }

    .search-form {
        width: 90%;
    }

    .header .navbar {
        position: absolute;
        top: 110%;
        right: -110%;
        width: 30rem;
        box-shadow: var(--box-shadow);
        border-radius: .5rem;
        background: #FFF;
    }

    .color-text {
        color: black !important;
    }

    .active-color {
        color: green !important;
    }

    .color-text:hover {
        color: #FFF !important;
    }

    .active-color:hover {
        color: yellowgreen !important;
    }

    .active-tab:hover {
        color: yellowgreen !important;
    }

    .header .navbar.active {
        right: 2rem;
        transition: .4s linear;
    }

    .header .navbar #navtxt {
        font-size: 2rem;
        margin: 0;
        padding: 2rem 2.5rem;
        display: block;
    }

    .header .navbar #navtxt:hover {
        background-color: darkgreen;
        color: #FFF;
    }
}

@media (max-width: 700px) {
    .footer {
        padding-top: 3rem;
    }
    .footer-container {
        flex-direction: column;
        row-gap: 2rem;
        padding-bottom: 3rem;
    }

    .footer-section {
        align-items: center !important;
        flex-direction: column !important;
        row-gap: 1rem;
    }

    .footer-section img {
        margin: 0;
    }

    .social-login {
        justify-content: center;
    }
}

@media (max-width: 450px) {
    html {
        font-size: 50%;
    }

    .heading {
        font-size: 2.5rem;
    }

    .header .logo {
        height: 27.73px !important;
        width: 115.73px !important;
    }
}