:root {
    --green: green;
    --white: #fff;
    --black: #130f40;
    --light-color: #666;
    --box-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, .1);
    --border: 2rem solid rgba(0, 0, 0, .1);
    --outline: .1rem solid rgba(0, 0, 0, .1);
    --outline-hover: .2rem solid var(var(--black));
}

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none !important;
    transition: all .2s linear;
}

html {
    font-size: 62%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 7rem;
}

body {
    background: url('../img/bg.jpg') no-repeat center center/cover;
    margin-top: 175px;
}

section {
    padding: 2rem 9%;
}

hr {
    width: 100%;
    height: 2px;
    border: none;
    background-color: black;
}

.hidden {
    display: none !important;
}

/*       HEADER      */

.active-tab {
    color: green !important;
    font-weight: 600;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 9%;
    background: none;
    box-shadow: none;
}

.header .logo {
    height: 41.6px;
    width: 173.6px;
}

.header .navbar #navtxt {
    font-size: 1.7rem;
    margin: 0 1rem;
    color: var(--black);
}

.header .navbar #navtxt:hover {
    color: green;
}

.color-text {
    color: #FFF !important;
}

.color-text:hover {
    color: yellowgreen !important;
}

.header .icons div {
    height: 4.5rem;
    width: 4.5rem;
    line-height: 4.5rem;
    border-radius: 1rem;
    background: #eee;
    color: var(--black);
    font-size: 2rem;
    margin-right: .3rem;
    cursor: pointer;
    text-align: center;
}

.header .icons .logoutbtn {
    height: 4.5rem;
    width: 4.5rem;
    line-height: 4.5rem;
    border-radius: 1rem;
    background: rgba(201, 0, 0, 0.6);
    color: var(--white);
    font-size: 2rem;
    margin-right: .3rem;
    cursor: pointer;
    text-align: center;

}

.header .icons div:hover {
    background-color: var(--green);
    color: #fff;
}

.header .icons .logoutbtn:hover {
    background: rgb(201, 0, 0);
    color: #fff;
}

.header.active {
    background-color: white;
    box-shadow: var(--box-shadow);
    transition: .1.5s linear;
}

.color-header {
    background-color: darkgreen;
    box-shadow: var(--box-shadow);
    transition: .1.5s linear;
}

#menu-btn {
    display: none;
}

.search {
    display: flex;
    justify-content: center;
    padding-top: 3rem;
    padding-bottom: 3rem;
    gap: 1rem;
}

.search-bar {
    position: fixed;
    top: -50%;
    display: flex;
    width: 100%;
    justify-content: center;
    z-index: 50;
}

.search-form {
    top: 100%;
    width: 60%;
    height: 4.5rem;
    background: #fff;
    border-radius: .5rem;
    overflow: hidden;
    display: flex;
    align-items: center;
    border: 1px solid darkgreen;
    box-shadow: var(--box-shadow);
}

.search-bar.active {
    top: 10%;
    transition: .3s linear;
}

.search-form input {
    height: 100%;
    width: 100%;
    background: none;
    text-transform: none;
    font-size: 1.6rem;
    color: var(--black);
    padding: 0 1.5rem;
}

.search-form button {
    font-size: 2.2rem;
    padding-right: 1.5rem;
    color: var(--black);
    cursor: pointer;
    background: none;
}

.search-form button:hover {
    color: var(--green);
}

.header .shopping-cart {
    position: absolute;
    top: 110%;
    right: -110%;
    padding: 1rem;
    border-radius: .5rem;
    box-shadow: var(--box-shadow);
    width: 35rem;
    max-height: 70vh;
    background: #fff;
    overflow-y: scroll;
    overflow-x: hidden;
}

.header .shopping-cart.active {
    right: 2rem;
    transition: .4s linear;
}

.header .shopping-cart .box {
    display: flex;
    align-items: center;
    gap: 1rem;
    position: relative;
    margin: 1rem 0;
}

.header .shopping-cart .box .cart-img-container {
    height: 10rem;
    width: 10rem;
}

.header .shopping-cart .box img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.header .shopping-cart .box .fa-trash {
    font-size: 2rem;
    position: absolute;
    top: 50%;
    right: 2rem;
    cursor: pointer;
    color: var(--light-color);
    transform: translateY(-50%);
}

.header .shopping-cart .box .fa-trash:hover {
    color: var(--green);
}

.header .shopping-cart .box .content h3 {
    color: var(--black);
    font-size: 1.7rem;
    padding-bottom: 1rem;
}

.header .shopping-cart .box .content span {
    color: var(--light-color);
    font-size: 1.6rem;
}

.header .shopping-cart .box .content .quantity {
    padding-left: 1rem;
}

.header .shopping-cart .total {
    font-size: 2.5rem;
    padding: 1rem 0;
    text-align: center;
    color: var(--black);
}

.header .shopping-cart .btn {
    display: block;
    text-align: center;
    margin: 1rem;
}

.user-window {
    position: fixed;
    top: -50%;
    right: 3rem;
    width: 30rem;
    box-shadow: var(--box-shadow);
    border-radius: .5rem;
    background: #fff;
    text-align: center;
    z-index: 90;
}

.user-window.active {
    top: 10%;
    transition: .2s linear;
    color: var(--white);
}

.user-window a {
    font-size: 2rem;
    padding: 1.5rem 2rem;
    display: flex;
    color: var(--black);
}

.user-window a:hover {
    background-color: darkgreen;
    color: var(--white);
    transition: .2s linear;
}

.active-color {
    color: yellowgreen !important;
}

a.cart-icon {
    font-size: 1.75rem;
    position: absolute;
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
    line-height: 3.2rem;
    background-color: yellowgreen;
    color: black;
    top: 5%;
}

/*=================================================*/
/*                  FOOTER              */
.footer {
    background-color: #101010;
    color: white;
    padding: 60px 0px 0px 0px;
    font-size: 14px;
    position: relative;
    text-align: center;
    box-shadow: 0 -0.5px 2rem rgba(0, 0, 0, .1);
}

.footer-container {
    display: flex;
    flex-wrap: wrap;
    max-width: 1000px;
    margin: 0 auto;
    text-decoration: none;
    justify-content: space-between;
    padding: 0rem 0rem 5rem 0rem;
}

.footer-section {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: left;
}

.footer-section div a,
.footer-section div p {
    color: #eee;
    text-decoration: none;
    padding: 0rem 1.5rem 0rem 1.5rem;
}

.footer-section img {
    height: 25.8px;
    width: 106.8px;
    margin-right: 2rem;
}

.social-login {
    display: flex;
    gap: 20px;
    align-items: end;
}

.social-login i {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    width: 30px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transition: .2s;
}

.social-login i:hover {
    transform: scale(0.8);
}

/*================================================================*/
/*                      MODAL                       */
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3rem;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #FFF;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

/*=================================================================*/
/*                      FORMS                     */
.form {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    padding: 3rem;
}

.form form {
    width: 100%;
}

.form-control {
    display: block;
    width: 80%;
    padding: 0.375rem 0.75rem;
    font-size: 1.5rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #44ff3d;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.form-label {
    display: inline-block;
    margin-bottom: 0.5rem;
    font-size: 2rem;
}

.form-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 1rem;
}

.form-row-end {
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    width: 100%;
    padding: 1rem;
}

.form-row-end a {
    font-size: 1.5rem;
}

.form-check-input {
    margin-right: 0.25rem;
    margin-left: 0;
    width: 1.5rem;
    height: 1.5rem;
}

.form-check-input:checked {
    background-color: green;
}

.form-row-btn {
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    width: 100%;
    padding: 1rem;
    gap: 1rem;
}

.product-image {
    display: none;
    width: 90%;
    justify-content: center;
    height: 200px;
    object-fit: scale-down;
    overflow: hidden;
    align-self: center;
}

.form-btn {
    padding: 1rem;
    background: none;
    border-radius: 8px;
    font-size: 1.5rem;
    width: 13rem;
    cursor: pointer;
}

.form-btn .btn-icon {
    display: none;
}

.cancel {
    background-color: #AAA;
}

.create {
    background-color: green;
    color: white;
}

.cancel:hover {
    background-color: #888;
}

.create:hover {
    background-color: darkgreen;
}

/*=================================================================*/
/*                      MAIN PAGE CONTAINERS                   */
.main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    margin-bottom: 10rem;
}

/*=============================================================*/

.btn {
    margin-top: 1rem;
    display: inline-block;
    padding: .8rem 3rem;
    font-size: 1.7rem;
    border-radius: .5rem;
    border: .2rem solid var(--black);
    color: var(--black);
    cursor: pointer;
    background: none;
}

.btn:hover {
    background: var(--green);
    color: white;
}









@media (max-width:1200px) {

    html {
        font-size: 55%;
    }

    .header {
        padding: 2rem;
    }

    section {
        padding: 2rem;
    }

    .form-row {
        flex-direction: column;
    }
}

@media (max-width:768px) {

    #menu-btn {
        display: inline-block;
    }

    .header .search-form {
        width: 90%;
    }

    .header .navbar {
        position: absolute;
        top: 110%;
        right: -110%;
        width: 30rem;
        box-shadow: var(--box-shadow);
        border-radius: .5rem;
        background: #fff;
    }


    .header .navbar.active {
        right: 2rem;
        transition: .4s linear;
    }

    .header .navbar a {
        font-size: 2rem;
        margin: 2rem 2.5rem;
        display: block;
    }

    .product-grid,
    .box-container {
        gap: 0.5rem;
    }

    .product {
        padding: 1rem;
    }

    .product img {
        height: 10rem;
    }

    .product-grid .product h3,
    .box-container .box h3 {
        font-size: 2rem !important;
    }

    .product-grid {
        grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    }

    .header .navbar #navtxt {
        font-size: 2rem;
        margin: 0;
        padding: 2rem 2.5rem;
        display: block;
    }

    .header .navbar #navtxt:hover {
        background-color: darkgreen;
        color: #FFF;
    }

}

@media (max-width: 700px) {
    .footer {
        padding-top: 3rem;
    }

    .footer-container {
        flex-direction: column;
        row-gap: 2rem;
        padding-bottom: 3rem;
    }

    .footer-section {
        align-items: center !important;
        flex-direction: column !important;
        row-gap: 1rem;
    }

    .footer-section img {
        margin: 0;
    }

    .social-login {
        justify-content: center;
    }

    .form-btn {
        width: 8rem;
    }

    .form-btn .btn-text {
        display: none;
    }

    .form-btn .btn-icon {
        display: inline-block;
    }
}

@media (max-width:450px) {

    html {
        font-size: 50%;
    }

    .heading {
        font-size: 2.5rem;
    }
}