* {
      box-sizing: border-box;
      margin: 0;
      padding: 0;
  }
  body {
      background-size: cover;
  }
  .container-fluid {
      background-color: #343a40;
      color: white;
      padding: 20px 0;
  }
  .section-container {
      padding: 30px;
      border-radius: 10px;
      box-shadow: 0 0 10px rgba(0,0,0,0.1);
  }
  .form-label {
      font-weight: bold;
  }
  .btn-primary {
      background-color: #343a40;
      border-color: #343a40;
      width: 100%;
  }
